<div class="row">
  <div class="col-md-6" id ="titulo">
    Quem <br>somos
  </div>
  <div class="col-md-6">
    <div class="card-criadores">
      <div class="card-criadores-img">
        <%= image_tag("elsa.JPG", :alt => "...", class: "card-criadores-imagem") %>
      </div>
      <div class="card-criadores-txt">
        <h1 class="titulo-card">
          Marina
        </h1>
        <p class="p-txt">
          Estudante de ciência da computação da USP-SC, entrou em 2018, curte trabalho voluntário
          e ver vídeos aleatório do youtube, e no futuro pensa trabalhar com computação voltada
          à ações sociais.  
        </p>
      </div>
    </div>
    <div class="card-criadores">
      <div class="card-criadores-img">
        <%= image_tag("elsa.JPG", :alt => "...", class: "card-criadores-imagem") %>
      </div>
      <div class="card-criadores-txt">
        <h1 class="titulo-card">
          Luíza
        </h1>
        <p class="p-txt">
          Estudante de Ciências de Computação na Universidade de São Paulo, entusiasta da área
          de segurança da informação e eterna aprendiz de Programação Orientada a Objetos. O 
          coração dizia Java, mas a vida disse Ruby.
        </p>
      </div>
    </div>
    <div class="card-criadores">
      <div class="card-criadores-img">
        <%= image_tag("elsa.JPG", :alt => "...", class: "card-criadores-imagem") %>
      </div>
      <div class="card-criadores-txt">
        <h1 class="titulo-card">
          Moana
        </h1>
        <p class="p-txt">
          dfoihds fhusdhfushdufhwueihfuiweh ufihweiufhewuifhuiwehuweuifeuwh ui fhew
        </p>
      </div>
    </div>
    <div class="card-criadores">
      <div class="card-criadores-img">
        <%= image_tag("elsa.JPG", :alt => "...", class: "card-criadores-imagem") %>
      </div>
      <div class="card-criadores-txt">
        <h1 class="titulo-card">
          Tiana
        </h1>
        <p class="p-txt">
          dsfh jsdjfhsdjkfhjsdhf jskdhf jksdh ksdh fkjhsd kjfhskjhkjsfkh sk
        </p>
      </div>
    </div>
  </div>
</div>